html, body{

  min-height: 100dvh;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(9, 35, 175, 1) 0%, rgb(21, 19, 19) 100%);
  color: rgb(203, 203, 203);
  box-sizing: border-box;
}
button{
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(9, 144, 175);
  color: #ffff;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
button:hover{
  background: #ffff;
  color: rgb(7, 69, 83);
}